body {
    fontFamily: "DejaVu sans mono, WenQuanYi Micro Hei, WenQuanYi Zen Hei, Noto Sans CJK SC, Source Han Sans CN, Droid Sans Fallback, Droid Sans"
}

pre {
  	word-break: break-all;
  	/* Non standard for webkit, but it does work on the Mac when generating the PDF */
  	word-break: break-word;
}
